.btn-white {
  padding: 38px;
  border: 2px solid #dbe1fb;
  background-color: white;
  color: #4361ee;
}

.btn-danger {
  padding: 38px;
  border: 2px solid white;
  background-color: #b4333e;
  color: #d3d5d8;
}

.btn-primary {
  padding: 38px;
  border: 2px solid white;
  background-color: #4361ee;
  color: white;
}

.btn-medium {
  border-width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: #0f6fd1;
  color: white;
}

.btn-medium:hover {
  background-color: #0b5eb3;
  color: gray-300;
}
