// * {
//   margin: 0;
//   padding: 0;
// }

// .item {
//   // border: 1px solid #1f2937;
// }

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

.info {
  padding: 10px 0px 0px 3px;
}

.info p {
  padding-bottom: 10px;
}

.btn {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  // background-color: #2f4f4f;
  display: block;
  padding: 10px;
  margin: 0;
  border: none;
  &:hover {
    background-color: #4682b4;
    color: black;
    opacity: 0.18;
  }
  height: 100%;
  // color: #d3d3d3;
  color: #0f172a;
  border-radius: 9px;
  // font-weight: bold;
  font-size: 19px;
  // padding: 0.5rem 1rem;
  // border-bottom: 0.25rem solid #2779bd;
  // &:hover {
  //   border-bottom: 0.25rem solid #3490dc;
  // }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Разделение на две равные колонки
  gap: 20px; // Промежуток между элементами
  padding: 0;
  margin: 0;
}
